@import "../variables";
.post {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  background-color: $background-color;
  list-style: none;
}

.post-content {
  font-size: $font-size-normal;
}

.post-actions {
  margin-top: 0.5rem;
  .post-actions-icons {
    display: flex;
  }
  .like-count {
    margin: 10px 3px;
    font-size: $font-size-mini;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.post-content-header {
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.timestamp {
  font-size: 12px;
}

.comment-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
