@import "../variables";
.suggested-accounts {
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  margin: 1em 20%;
  color: $font-color-darker;
  background-color: $background-color;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .account-list {
    list-style: none;
    padding: 0;

    .account {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .account-info {
        margin: 0 5px;
        h4 {
          margin: 0;
          font-size: 1rem;
        }

        p {
          margin: 5px 0;
          font-size: 0.9rem;
          color: $font-color-darker;
        }

        button {
          background-color: $primary-color-button;
          color: white;
          border: none;
          padding: 5px 10px;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
}
