$primary-color: #564b44;
$secondary-color: #afc7b9;
$background-color: #ffe1c9;
$background-color-darker: #fca89d;

$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Arial", sans-serif;

$font-size-mini: 15px;

$font-color-light: #ffe1c9;
$font-color-darker: #998b82;
$font-color-grayer: #f0f0f0;
