.header {
  background-color: #CF6766;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #F8F9FA;
}

.app {
  background-color: #F8F9FA;
}