@import "variables";
.header {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: $secondary-color;
}

.app {
  background-color: $third-color;
  font-family: $primary-font-family;
}
.main {
  display: flex;
  justify-content: space-between;
}
.timeline-container {
  max-width: 800px;
  margin: 0 auto;
  width: 75%;
}

.suggested-accounts-container {
  width: 25%;
  padding: 0 10px; /* Add some padding to the left and right */
}
