@import "variables";
.header {
  background-color: $primary-color;
  color: $font-color-darker;
  text-align: left; /* Align the text to the left */
  padding: 1rem;

  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0; /* Remove padding for spacing */
    margin-left: 15%; /* Same width as the SuggestedAccounts container */
  }
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: $secondary-color;
}

.app {
  background-color: $secondary-color;
  font-family: $primary-font-family;
}
.main {
  display: flex;
  justify-content: space-between;
}
.timeline-container {
  max-width: 800px;
  margin: 0 auto;
  width: 75%;
}

.suggested-accounts-container {
  width: 25%;
  padding: 0 10px; /* Add some padding to the left and right */
}
